:root {
  --color-black-text: #000000;
  --color-white-text: #ffffff;
  --color-active-link: #2196f3;
  --color-nav-text: #212121;
  --color-contact-text: #757575;
  --color-title-text: #212121;
  --color-main-text: #757575;
  --color-background-header: #ffffff;
  --color-background-footer: #2f303a;
  --color-background-hero-button: #188ce8;
  --color-background-filters-button: #f5f4fa;
  --color-background-white: #ffffff;
  --color-background-main-portfolio: #f5f5f5;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: var(--color-black-text);
}

.list {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.link {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
}
.title {
  padding: 0px;
  margin: 0px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/* ----------------------header------------------------ */

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.container-header {
  display: flex;
}
.logo {
  margin-top: 24px;
  margin-right: 93px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;

  color: var(--color-black-text);
}
.logo-text {
  color: #2196f3;
}

.nav-list {
  display: flex;
  align-items: center;
  margin: 32px 0;
  gap: 50px;
}
.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--color-nav-text);
}
.contacts.list {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 50px;
}

.contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--color-contact-text);
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: var(--color-active-link);
}

.nav-list .current {
  color: var(--color-active-link);
}

/*--------------------------main----------------------*/

.hero {
  text-align: center;
  background: #2f303a;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.hero-title {
  width: 696px;
  height: 120;
  padding-top: 200px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--color-white-text);
}

.hero-button {
  min-width: 216px;
  height: 50px;
  margin-bottom: 200px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--color-white-text);
  background-color: var(--color-background-hero-button);

  border: none;
  cursor: pointer;

  border-radius: 4px;
}

.hero-button:hover,
.hero-button:focus {
  background: var(--color-active-link);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.feature,
.box {
  background-color: #f5f5f5;
}

.feature-list {
  display: flex;
  padding-top: 64px;
  padding-bottom: 94px;
  gap: 30px;
}
.feature-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--color-title-text);
}

.feature-text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: var(--color-main-text);
}

.box-title.title {
  padding-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--color-title-text);
}

.box-list {
  display: flex;
  justify-content: center;
  padding-bottom: 94px;
  gap: 30px;
}
.team {
  background: #f5f4fa;
}

.team-title {
  padding-top: 94px;
  padding-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--color-title-text);
}

.team-list {
  margin: 0;
  padding-bottom: 94px;
  display: flex;
  gap: 30px;
}

.team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  background-color: var(--color-background-white);
}

.team-name {
  margin: 0;
  padding-top: 30px;
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--color-title-text);
}

.team-text {
  margin: 0;
  padding-bottom: 30px;
  font-size: 16px;
  line-height: 1.18;

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--color-main-text);
}

/* -------------------footer----------------- */
.address {
  background: var(--color-background-footer);
  font-style: normal;
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer {
  display: inline-block;
  margin: 0;
  margin-bottom: 20px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: var(--color-white-text);
}

.address-map {
  padding-bottom: 9px;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: var(--color-white-text);
}

.address-mail {
  padding-bottom: 9px;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.address-tel {
  padding-bottom: 60px;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

/* -----------------------portfolio------------------- */
.portfolio-header {
  border-bottom: 1px solid #ececec;
}
.main-portfolio {
  background: var(--color-background-white);
}

.filters-list {
  display: flex;
  flex-direction: row;
  justify-content: center;

  padding-top: 94px;
  padding-bottom: 50px;
  gap: 8px;
}
.filters-button {
  height: 38px;
  padding: 6px 22px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  text-align: center;
  letter-spacing: 0.03em;

  border: none;
  color: var(--color-nav-text);

  background: var(--color-background-filters-button);
  border-radius: 4px;
  cursor: pointer;
}

.filters-button:hover,
.filters-button:focus {
  border: none;
  background: var(--color-active-link);
  color: var(--color-white-text);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-bottom: 94px;
}
.projects-item {
  width: calc((100% - 60px) / 3);
  background: var(--color-background-white);
  border: 1px solid #eeeeee;
}
.projects-title {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 4px;
  padding-left: 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;

  color: var(--color-nav-text);
}

.projects-text {
  padding-bottom: 20px;
  padding-left: 24px;
  font-size: 16px;
  line-height: 1.87;

  letter-spacing: 0.03em;

  color: var(--color-main-text);
}
